html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {

}

/* Main Menu Options */
.menu-buttons button {
  background-color: #8a8a8a;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 20px 44px;
  cursor: pointer;
  display: block;
  margin-bottom: 30px;
  margin-left: 50%;
  transform: translate(-50%, 0);
  font-family: "silkscreennormal";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
}

.menu-buttons button:first-child {
  margin-top: 50vh;
}

.menu-buttons button:not(:last-child) {
  border-bottom: none;
}

.menu-buttons button:hover {
  background-color: pink;
}

/* In-game Widgets */
#widgets {
  display: grid;
  grid-template-columns: 18px 50px auto 50px 18px;
  grid-template-rows: 12px auto 12px;
  position: fixed;
}

/* Mute / Unmute Widget */
input#sound {
  display: none;
}
.on img {
  display: none;
  opacity: 0.65;
}
.on img:hover {
  opacity: 1;
  cursor: pointer;
}
.off img {
  opacity: 0.65;
}
.off img:hover{
  opacity: 1;
  cursor: pointer;
}
input#sound:checked ~ .on img {
  display: initial;
}
input#sound:checked ~ .off img {
  display: none;
}

#soundIcon {
  grid-column-start: 2;
  grid-row-start: 2;
}

.loader-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #78b4e3;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.topMessage {
  position: fixed;
  top: 40px;
  text-align: center;
  left: 50%;
  transform: translate(-50%, 0);
  color: white;
  font-family: "silkscreennormal";
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
}

#movementDesktopMessage {
  opacity: 1;
  transition: 2s opacity;
}

a:link, a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
  font-family: "silkscreennormal";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
}

a:hover {
  cursor: pointer;
}

a:hover, a:active {
  color: #8a8a8a;
  background-color: transparent;
  text-decoration: none;
  font-family: "silkscreennormal";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  transition: 0.4s;
}

#mainMenuLink {
  position: absolute;
  bottom: 30px;
  right: 40px;
}

.creditsContainer {
  position: relative;
  text-align: center;
  top: 100px;
}

.creditsContainer h1 {
  font-family: "silkscreennormal";
  font-weight: normal;
  font-style: normal;
  font-size: 40px;
  color: white;
}

.creditsContainer p {
  position: block;
  margin: auto;
  font-family: "silkscreennormal";
  font-weight: normal;
  font-style: normal;
  font-size: 20px;
  color: white;
  width: 45%;
  line-height: 24px;
  padding-bottom: 50px;
}

.contactInfo {
  position: block;
  margin: auto;
  /* border: 5px solid blue; */
  display: flex;
  flex-direction: row;
  width: 140px;
  justify-content: space-between;
  align-items: center;
}

.contactInfoItem:hover {
  width: 60px;
  height: 60px;
  cursor: pointer;
}

/* reference: https://www.w3schools.com/howto/howto_js_alert.asp */
.alert {
  font-family: "silkscreennormal";
  font-weight: normal;
  font-style: normal;
  position: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  font-size: 20px;
  padding: 20px;
  background-color: pink;
  color: white;
  width: 500px;
  border-radius: 4px;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 28px;
  line-height: 15px;
  cursor: pointer;
  transition: 0.4s;
}

.closebtn:hover {
  color: #8a8a8a;
}

#slideshow {
  width: 100%;
  height: 100%;
  display: none;
}

#backgroundScreen {
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.5;
}

#title {
  position: fixed;
  top: 40px;
  text-align: center;
  left: 50%;
  transform: translate(-50%, 0);
  color: white;
  font-family: "silkscreennormal";
  font-weight: normal;
  font-style: normal;
  font-size: 40px;
  opacity: 1;
}

@font-face {
    font-family: 'silkscreennormal';
    src: url('fonts/slkscr-webfont.eot'); /* IE9 Compat Modes */
    src: url('fonts/slkscr-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/slkscr-webfont.woff') format('woff'), /* Pretty Modern Browsers */
         url('fonts/slkscr-webfont-webfont.woff2') format('woff2'), /* Super Modern Browsers */
         url('fonts/slkscr-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
         url('fonts/slkscr-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
    font-weight: normal;
    font-style: normal;
}
