html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {

}

/* Main Menu Options */

.menu-buttons button {
  position: fixed;
  top: 40px;
  left: 50%;
  display: block; 
}

/* In-game Widgets */
.widgets {
  display: grid;
  grid-template-columns: 18px 50px auto 50px 18px;
  grid-template-rows: 12px auto 12px;
  position: fixed;
}

/* Mute / Unmute Widget */
input#sound {
  display: none;
}
.on img {
  display: none;
  opacity: 0.65;
}
.on img:hover {
  opacity: 1;
}
.off img {
  opacity: 0.65;
}
.off img:hover{
  opacity: 1;
}
input#sound:checked ~ .on img {
  display: initial;
}
input#sound:checked ~ .off img {
  display: none;
}

.sound {
  grid-column-start: 2;
  grid-row-start: 2;
}

.topMessage {
  position: fixed;
  top: 40px;
  text-align: center;
  left: 50%;
  transform: translate(-50%, 0);
  color: white;
  font-family: "Silkscreen";
  font-weight: normal;
  font-style: normal;
  font-size: 16;
}
