html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  cursor: url(images/icon-daisy2.png), default;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Main Menu Logo */
.logo {
  color: white;
  font-family: "silkscreennormal";
  font-weight: normal;
  font-style: normal;
  font-size: 70px;
  position: absolute;
  top: 26%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  text-shadow: 4px 3px 1px #eea9bb, 0 0 5px white, 0 0 5px white;
  user-select: none;
}

#slogan {
  color: white;
  font-family: "silkscreennormal";
  font-weight: normal;
  font-style: normal;
  position: absolute;
  text-align: center;
  top: 32%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-shadow: 4px 3px 1px #eea9bb, 0 0 5px white;
  user-select: none;
  font-size: 30px;
}

/* Main Menu Options */
.menu-buttons button {
  background-color: #658AA9;
  border-radius: 6px;
  border: none;
  color: white;
  width: 300px;
  height: 55px;
  cursor: url(images/icon-daisy3.png), pointer;
  display: block;
  margin-bottom: 20px;
  margin-left: 50%;
  -webkit-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
  font-family: "silkscreennormal";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  user-select: none;
}

.menu-buttons button:first-child {
  margin-top: 55vh;
}

.menu-buttons button:not(:last-child) {
  border-bottom: none;
}

.menu-buttons button:hover {
  cursor: url(images/icon-daisy3.png), pointer;
  background-color: #FFB2C2;
}

/* In-game Widgets */
#widgets {
  display: grid;
  grid-template-columns: 18px 50px;
  grid-template-rows: 15px 30px 30px 30px 15px;
  position: fixed;
  user-select: none;
  border-radius: 0px 0px 5px;
  z-index: 1;
  transition: visibility 0.5s, opacity 0.5s;
}

/* Home Button */
#homeIcon {
  grid-column-start: 2;
  grid-row-start: 2;
  background: url("images/widgets/home1.png") no-repeat;
  margin-right: 15px;
  border: none;
}

#homeIcon:hover {
  cursor: url(images/icon-daisy3.png), pointer;
  background: url("images/widgets/home2.png") no-repeat;
}

/* Mute / Unmute Widget */
input#sound {
  display: none;
}
.on img {
  background: url("images/widgets/sound1-1.png") no-repeat;
  display: none;
}
.on img:hover {
  cursor: url(images/icon-daisy3.png), pointer;
  background: url("images/widgets/sound1-2.png") no-repeat;
}
.off img {
  background: url("images/widgets/sound2-1.png") no-repeat;
}
.off img:hover {
  cursor: url(images/icon-daisy3.png), pointer;
  background: url("images/widgets/sound2-2.png") no-repeat;
}
input#sound:checked ~ .on img {
  display: initial;
}
input#sound:checked ~ .off img {
  display: none;
}

#soundIcon {
  grid-column-start: 2;
  grid-row-start: 4;
}

.loader-wrapper {
  width: 100%;
  height: 100%;
  background: #73b1e1;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999;
  pointer-events: none;
  user-select: none;
}

.topMessage {
  position: fixed;
  text-align: center;
  top: 40vh;
  left: 50%;
  transform: translate(-50%, 0);
  color: white;
  font-family: "silkscreennormal";
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
  padding: 15px 25px 35px;
  border-radius: 5px;
}

#locationMessage {
  position: fixed;
  text-align: center;
  top: 25px;
  left: 50%;
  transform: translate(-50%, 0);
  font-family: "silkscreennormal";
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.5);
  padding: 15px 25px;
  border-radius: 5px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s, opacity 0.5s;
  user-select: none;
}

.bottomMessage {
  position: fixed;
  bottom: 40px;
  text-align: center;
  left: 50%;
  transform: translate(-50%, 0);
  color: white;
  font-family: "silkscreennormal";
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
}

#movementDesktopMessage {
  opacity: 1;
  transition: opacity 2s;
  user-select: none;
}

#movementDesktopMessage h2 {
  color: #ffbebe;
}

#escapeSlidesMessage {
  opacity: 0.8;
  user-select: none;
}

a:link,
a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
  font-family: "silkscreennormal";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
}

a:hover {
  cursor: url(images/icon-daisy3.png), pointer;
}

a:hover,
a:active {
  color: #8a8a8a;
  background-color: transparent;
  text-decoration: none;
  font-family: "silkscreennormal";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  transition: 0.4s;
}

#backToStartLink {
  font-family: "silkscreennormal";
  font-weight: normal;
  font-style: normal;
  user-select: none;
  font-size: 22px;
  position: absolute;
  top: 20px;
  left: 90px;
  user-select: none;
  color: white;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s, opacity 0.5s;
  border-radius: 4px;
  padding: 10px;
  border: none;
}

#backToStartLink:hover {
  color: #eea9bb;
  cursor: url(images/icon-daisy3.png), pointer;
  border: none;
}

.creditsContainer {
  position: relative;
  top: 4%;
  text-align: center;
  font-family: "silkscreennormal";
  font-weight: normal;
  font-style: normal;
  color: white;
  font-size: 21px;
}

#fadeIn {
  /* reference: https://stackoverflow.com/questions/11679567/using-css-for-a-fade-in-effect-on-page-load */
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 2s;
}

@keyframes fadein {
  from {
    opacity: 0.15;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0.15;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0.15;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0.15;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeinfast {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadeinfast {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeinfast {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadeinfast {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

.creditsTitles {
  padding: 1px;
}

.creditsContainer h1 {
  font-size: 40px;
  line-height: 20px;
  text-shadow: 4px 3px 1px #eea9bb, 0 0 5px white, 0 0 5px white;
  user-select: none;
}

.creditsSubtitle {
  position: relative;
  font-size: 20px;
}

.letter {
  position: relative;
  margin: auto;
  font-family: "droidsansmono";
  text-align: left;
  font-size: 14px;
  left: 210px;
  width: 500px;
  height: 540px;
  top: -495px;
  line-height: 1.5em;
  background: rgba(0, 0, 0, 0.8);
  padding: 8px 22px 5px 22px;
  border-radius: 6px;
}

.contactInfo {
  position: relative;
  left: 250px;
  top: -580px;
  margin: auto;
  display: flex;
  flex-direction: row;
  width: 250px;
  justify-content: space-between;
  align-items: center;
  user-select: none;
}

.contactInfoItem:hover {
  cursor: url(images/icon-daisy3.png), pointer;
}

/* reference: https://www.w3schools.com/howto/howto_js_alert.asp */
.alert {
  font-family: "silkscreennormal";
  position: relative;
  top: -800px;
  font-weight: normal;
  font-style: normal;
  position: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  font-size: 20px;
  padding: 20px;
  background-color: #e36b89;
  color: white;
  width: 38vw;
  border-radius: 5px;
  user-select: none;
}

.selectEmail {
  font-family: "droidsansmono";
  font-size: 17px;
  user-select: text;
  background-color: #ffd8db;
  color: black;
  border-radius: 5px;
  padding: 4px;
  text-align: center;
}

#resume {
  font-family: "silkscreennormal";
  font-size: 18px;
  background-color: #787878;
  color: white;
  border-radius: 5px;
  padding: 12px;
  border: none;
}

#resume:hover {
  background-color: #FFB2C2;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 30px;
  line-height: 20px;
  cursor: url(images/icon-daisy3.png), pointer;
  transition: 0.4s;
}

.closebtn:hover {
  color: #454545;
}

.profilePicture {
  position: relative;
  right: 265px;
  top: 40px;
  width: 400px;
  height: auto;
  user-select: none;
}

#slideshow {
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s, opacity 0.5s;
}

#backgroundScreen {
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.8;
}

#title {
  position: fixed;
  top: 40px;
  text-align: center;
  left: 50%;
  transform: translate(-50%, 0);
  color: white;
  font-family: "silkscreennormal";
  font-weight: normal;
  font-style: normal;
  font-size: 40px;
  opacity: 1;
  width: 700px;
  user-select: none;
}

#pictureSection {
  position: fixed;
  top: 100px;
  right: 38%;
  width: 60%;
  height: 78%;
  background: rgba(28, 28, 28, 1);
  border-radius: 5px;
}

#slides img,
#slides video {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  z-index: -1;
  user-select: none;
}

#slides img {
  pointer-events: none;
}

/* reference: https://www.w3schools.com/howto/howto_js_slideshow.asp */
#dotsLayout {
  position: absolute;
  text-align: center;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 500px;
  padding: 2px 8px 5px 8px;
}

.dots {
  height: 15px;
  width: 15px;
  margin: 5px 3px 3px;
  background-color: #1c1e1fb3;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.4s ease;
}

.active,
.dots:hover {
  cursor: url(images/icon-daisy3.png), pointer;
  background-color: #eea9bb;
}

#prev,
#next {
  color: #d1d1d1;
  font-weight: bold;
  font-size: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  user-select: none;
}

#prevBar,
#nextBar {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 150px;
  width: 100px;
  transition: 0.4s ease;
}

#prevBar {
  border-radius: 0 15px 15px 0;
}

#nextBar {
  right: 0;
  border-radius: 15px 0 0 15px;
}

#prevBar:hover,
#nextBar:hover {
  cursor: url(images/icon-daisy3.png), pointer;
  background-color: rgba(0, 0, 0, 0.5);
}

#expandButton {
  position: absolute;
  bottom: 35px;
  right: 35px;
  border-radius: 4px;
  border: none;
  width: 40px;
  height: 40px;
  transition: 0.3s ease;
  background: url("images/widgets/expand1.png") no-repeat;
  background-color: rgba(0, 0, 0, 0.5);
  background-position: 10px center;
  padding: 10px;
}

#expandButton:hover {
  cursor: url(images/icon-daisy3.png), pointer;
  background: url("images/widgets/expand2.png") no-repeat; 
  background-position: 10px center;
  background-color: rgba(0, 0, 0, 0.5);
}

#compressButton {
  position: absolute;
  bottom: 35px;
  right: 35px;
  border-radius: 4px;
  border: none;
  width: 40px;
  height: 40px;
  transition: 0.3s ease;
  background: url("images/widgets/compress1.png") no-repeat;
  background-color: rgba(0, 0, 0, 0.5);
  background-position: 10px center;
  padding: 10px;
}

#compressButton:hover {
  cursor: url(images/icon-daisy3.png), pointer;
  background: url("images/widgets/compress2.png") no-repeat; 
  background-position: 10px center;
  background-color: rgba(0, 0, 0, 0.5);
}

#expandedSlideScreen {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #1c1c1c;
  visibility: hidden;
  transition: 0.4s;
  opacity: 0;
  user-select: none;
}

#expandedSlideImage {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  pointer-events: none;
}

#aboutSection {
  position: fixed;
  display: block;
  top: 100px;
  left: 63.2%;
  width: 35%;
  height: 78%;
  background: #1c1c1c;
  border-radius: 5px;
}

#aboutSectionHeader {
  position: relative;
  top: 37px;
  color: white;
  font-family: "silkscreennormal";
  font-weight: normal;
  font-style: normal;
  font-size: 28px;
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  line-height: 1.1;
  user-select: none;
}

#descriptions {
  position: relative;
  font-family: "droidsansmono";
  color: white;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  width: 85%;
  left: 50%;
  top: 60px;
  transform: translateX(-50%);
  line-height: 1.8;
  height: 80%;
  overflow-y: auto;
  padding-right: 10px;
  padding-left: 10px;
}

/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #2b2b2b;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #6b6b6b;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #7a7a7a;
}

@font-face {
  font-family: "silkscreennormal";
  src: url("fonts/slkscr-webfont.eot"); /* IE9 Compat Modes */
  src: url("fonts/slkscr-webfont.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("fonts/slkscr-webfont.woff") format("woff"),
    /* Pretty Modern Browsers */ url("fonts/slkscr-webfont-webfont.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("fonts/slkscr-webfont.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("fonts/slkscr-webfont.svg#svgFontName")
      format("svg"); /* Legacy iOS */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "droidsansmono";
  src: url("fonts/droidsansmono-webfont.eot"); /* IE9 Compat Modes */
  src: url("fonts/droidsansmono-webfont.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("fonts/droidsansmono-webfont.woff") format("woff"),
    /* Pretty Modern Browsers */
      url("fonts/droidsansmono-webfont-webfont.woff2") format("woff2"),
    /* Super Modern Browsers */ url("fonts/droidsansmono-webfont.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("fonts/droidsansmono-webfont.svg#svgFontName") format("svg"); /* Legacy iOS */
  font-weight: normal;
  font-style: normal;
}

@media (max-height: 675px) {
  body {
    overflow-y: auto;
  }
  .profilePicture {
    width: 300px;
    height: auto;
    right: 255px;
  }
  .alert {
    font-size: 18px;
  }
  .selectEmail {
    font-size: 16px;
  }
  .letter {
    font-size: 13px;
    top: -373px;
    left: 165px;
  }
  .contactInfo {
    position: relative;
    left: 25vw;
    top: -550px;
  }
}

@media (max-width: 1148px) {
  #slogan {
    font-size: 22px;
    top: 36%;
  }
}

@media (max-width: 950px) {
  .profilePicture {
    right: 22vw;
    width: 40vw;
  }
  .alert {
    font-size: 18px;
  }
  .selectEmail {
    font-size: 16px;
  }
  .letter {
    font-size: 13px;
    width: 45vw;
    height: 60vw;
    top: -50vw;
    left: 24vw;
  }
  .creditsContainer {
    height: 100vh;
  }
  .contactInfo {
    top: -58vw;
    left: 250px;
  }
  #aboutSectionHeader {
    font-size: 24px;
  }
  #descriptions {
    font-size: 13px;
  }
}

@media (max-width: 900px) {
  .letter {
    height: 66vw;
  }
}

@media (max-width: 850px) {
  .letter {
    height: 75vw;
  }
  #title {
    font-size: 28px;
  }
  #aboutSectionHeader {
    font-size: 22px;
  }
  .contactInfo {
    left: 220px;
  }
}

@media (max-width: 800px) {
  .contactInfo {
    top: -60vw;
  }
  .letter {
    height: 82vw;
  }
  .contactInfo {
    left: 210px;
  }
}

@media (max-width: 750px) {
  .letter {
    height: 96vw;
  }
}

@media (max-width: 700px) {
  body {
    overflow-y: auto;
  }
  .alert {
    font-size: 15px;
  }
  .selectEmail {
    font-size: 15px;
  }
  .selectEmail {
    font-size: 15px;
  }
  .logo {
    font-size: 55px;
  }
  #slogan {
    font-size: 22px;
    line-height: 24px;
  }

  .creditsContainer h1 {
    font-size: 35px;
    line-height: 20px;
  }

  .creditsSubtitle {
    position: relative;
    font-size: 15px;
  }
  .profilePicture {
    right: 10vw;
    width: 60vw;
  }
  .letter {
    left: 0px;
    width: 80vw;
    top: 8vh;
    height: 70vw;
  }
  .contactInfo {
    flex-direction: column;
    height: 180px;
    top: -830px;
    left: 32vw;
  }
  #title {
    width: 300px;
  }
}

@media (max-width: 635px) {
  .letter {
    height: 80vw;
  }
}

@media (max-width: 600px) {
  .letter {
    height: 90vw;
  }
}

@media (max-width: 550px) {
  .letter {
    height: 100vw;
  }
}

@media (max-width: 490px) {
  .letter {
    height: 110vw;
  }
}

@media (max-width: 460px) {
  .letter {
    height: 120vw;
  }
}

@media (max-width: 440px) {
  .letter {
    height: 140vw;
  }
}

@media (max-width: 400px) {
  .letter {
    height: 160vw;
  }
}

@media (max-width: 370px) {
  .letter {
    height: 180vw;
  }
}

@media (max-width: 350px) {
  .letter {
    height: 200vw;
  }
}

@media (max-width: 330px) {
  .letter {
    height: 210vw;
  }
}

@media (max-width: 290px) {
  .letter {
    height: 270vw;
  }
}
